.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stats {
  display: flex;
  align-items: center;
  padding: 10px;
}

.statsLogo {
  border-radius: 50%;
  padding: 10px;
  background: rgba(113, 59, 219, 0.05);
}
